# 파이썬 2장 문제 -14108334 노정민

# Q1

---

홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

| 과목   | 점수 
| ----- | ---- | 
| 국어  | 80 |
| 영어  | 75 |
| 수학  | 55 |

In [5]:
a=80
b=75
c=55
(a+b+c)/3

70.0

# Q2

---

자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [3]:
13%2

1

13을 2로 나눈 몫이 1이므로 홀수이다

# Q3

---

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [7]:
pin = "881120-1068234"
YYYYMMDD = pin[:6]
num = pin[7:]
print(YYYYMMDD)
print(num)

881120
1068234

# Q4

---

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [11]:
pin = "881120-1068234"
print(pin[7]) #1 이면 남자 2면 여자다

1

# Q5

---

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [20]:
문자열 = "a:b:c:d"
수정 = 문자열.replace(":","#")
print(수정)

a#b#c#d

# Q6

---

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

In [22]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# Q7

---

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [27]:
a = ['Life','is','too','short']
b = a[0]+a[1]+a[2]+a[3]
b.insert(1," ")
print(b)

AttributeError: 'str' object has no attribute 'insert'

In [28]:
# insert 나 append 로 공백을 넣을라 했으나 포기

In [31]:
a = ['Life','is','too','short']
b = " ".join(a)
print(b)

Life is too short

# Q8

---

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [32]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

a 튜플에 (4, )라는 튜플을 더하면 된다. 단, 이때 만들어지는 a + (4, )의 결과는 a 값이 변경되는 것이 아니라  
(튜플은 그 값을 변경할 수 없다)   
새 로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것임에 유념하자.  
 다음 코드를 실행해 보면 a의 고유 주소 값이 변경됨을 확인할 수 있다.

In [36]:
a = (1,2,3)
print(id(a))
a = a + (4,)
print(id(a))

1942061591000
1942061606216

고유 주소값이 다르다

# Q9

다음과 같은 딕셔너리 a가 있다.

In [37]:
>>> a = dict()
>>> a
{}

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.  
1.a['name'] = 'python'  
2.a[('a',)] = 'python'    
3.a[[1]] = 'python'  
4.a[250] = 'python'

In [38]:
 a[[1]] = 'python'

TypeError: unhashable type: 'list'

답은 3번이다. 'name',('a',),250 같은 경우 튜플이라 바뀌지 않는 값이라 딕셔너리로 지정 할 수 있지만.  
리스트로 구성되있는 3번은 TypeError: unhashable type: 'list' 오류를 발생한다

# Q10

---

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [42]:
a = {'A':100, 'B':80, 'C':70}
b = a.pop('B')
print(a)
print(b)

{'A': 100, 'C': 70}
80

# Q11

---

a 리스트에서 중복 숫자를 제거해 보자.

In [49]:
a = [1,1,1,1,3,4,5,6,1,2,1]
aSet = set(a) # a 리스트를 집합자료형으로 변환
b = list(aSet) # 집합자료형을 리스트 자료형으로 다시 변환
print(b)

[1, 2, 3, 4, 5, 6]

집합 자료형의 특징 2가지  
* 중복을 허용하지 않는다.  
* 순서가 없다(Unordered).  

를 이용하여 리스트를 집합 자료형으로 바꿨다가 다시 집합자료형을 리스트로 변환 시키면 중복이 없어진다.

# Q12

---

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]  
a[1] = 4  
print(b)

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

---

# 파이썬 3장 연습문제

# Q1

---

다음 코드의 결괏값은 무엇일까?  
   
a = "Life is too short, you need python"  

if "wife" in a: print("wife")  
elif "python" in a and "you" not in a: print("python")  
elif "shirt" not in a: print("shirt")  
elif "need" in a: print("need")  
else: print("none")

In [1]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

첫번째 조건문에서 Wife 란 단어가 a 리스트에 존재하지 않으므로  
elif 두번쨰 조건문으로 넘어간다.   
and 조건문은 둘다 충족해야 하는데 python은 충족, 하지만 you 도 a 리스트에 존재 하므로 다음 조건으로 넘어간다.  
세번째 조건문에서 shirt 가 a 리스트에 존재하므로 shirt를 프린트 한다.

# Q2

---

while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
        i += 1

print(result)

# Q3

---

while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [ ]:
i = 0
while True:
    i += 1
    if i > 5: break
    print ('*' * i)

# Q4

---

for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [ ]:
for i in range(1,101):
    print(i)

# Q5

---

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score

average = total / len(A)
print(average)

# Q6

---

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.  
numbers = [1, 2, 3, 4, 5]  
result = []  
for n in numbers:  
    if n % 2 == 1:  
        result.append(n*2)  
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)